/* 아이디 */
* {
  margin: 0;
  padding: 0;
}

#banner img {
  width: 100%;
  height: 300px;
}
#banner {
  height: 380px;
  /* background-color: blue; */
}

#main {
  margin: 0 auto;
  height: 100vh;
  width: 1024px;
  /* background-color: red; */
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
/* 클래스 */
.blind {
  display: none;
}
.product-card {
  width: 180px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  /* 모서리 다듬기 ( 둥글게 만들기 )  */
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
  background-color: gray;
}
.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-img {
  width: 100%;
  height: 210px;
}
.product-name {
  font-size: 14px;
}
.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}
.product-seller {
  display: flex;
  align-items: center;
}
.product-avatar {
  width: 24px;
}
.product-link {
  color: inherit;
  text-decoration: none;
}
