<!DOCTYPE html>


<html>
	<head>
		<meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
		<title>Title</title>
	</head>
	
	<body>
		<p>Detail Students</p>
		
		{% if student_info %}
			name: {{student_info.s_name}}</br>
			major: {{student_info.s_major}}</br>
			age: {{student_info.s_age}}</br>
			grade: {{student_info.s_grade}}</br>
			gender: {{student_info.s_gender}}</br>
		{% else %}
			<p>student: 0</p>
		{% endif%}
		
		</br>
		
		<a href="{% url 'student:stuMod' student_info.s_name %}">수정</a>
		<a href="{% url 'student:stuDel' student_info.s_name %}">삭제</a>
		<a href="{% url 'student:stuAll' %}">학생리스트</a>
		<a href="{% url 'student:reg' %}">신규학생등록</a>
		
	</body>
</html>