<!DOCTYPE html>


<html>
	<head>
		<meta http-equiv="content-Type" content="text/html"; charset=UTF-8>
		<title>Title</title>
	</head>
	
	<body>
		<p>Modify Student</p>
		
		{% if student_info %}
			<form action="{% url 'student:modCon' %}" method="post">
				{% csrf_token %}
				name : {{student_info.s_name}}</br>
				<input type="hidden" name="name" value={{student_info.s_name}}></br>
				major : <input type="text" name="major" value={{student_info.s_major}}></br>
				age : <input type="text" name="age" value={{student_info.s_age}}></br>
				grade : <input type="text" name="grade" value={{student_info.s_grade}}></br>
				gender : <input type="text" name="gender" value={{student_info.s_gender}}></br>
				<input type="submit" name="Modify"></br>
		</form>
		{% else %}
			<p>student: 0</p>
		{% endif %}
		
		
		
	</body>
</html>