*.csv
*.xlsx
*.xls
*.sav
*.log
*.fifj
*.txt
*.zip
*.gz
DataScience/IITP/DeepLearning/data/cifar_10/data_batch_1
DataScience/IITP/DeepLearning/data/cifar_10/data_batch_2
DataScience/IITP/DeepLearning/data/cifar_10/data_batch_3
DataScience/IITP/DeepLearning/data/cifar_10/data_batch_4
DataScience/IITP/DeepLearning/data/cifar_10/data_batch_5
