#header-area {
  display: flex;
  align-items: center;
  /* orgin: 0 auto; */
  width: 1024px;
  /*background-color: orange; */

  justify-content: space-between;
}

#header-area img {
  width: 128px;
  height: 36px;
}
#header {
  height: 64px;
  /* background-color: moccasin; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#footer {
  height: 64px;
  background-color: mediumblue;
}
